{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{{ super() }}
<h1>Hello {{ name }}, you are on the home page!</h1>

{% if display %}
<h2>This is being displayed!</h2>
{% else %}
<h2>This is not being displayed!</h2>
{% endif %}

{% for x in mylist %}
<h3>{{ x }}</h3>
{% endfor %}

{% for x in listofdictionaries %}
<h4>{{ x.name }}</h4>
{% endfor %}

<img src="{{ url_for('static', filename='images/prettyprinted.png') }}">
{% include "include_this.html" %}
{% endblock %}